<h1>Representative Details</h1>
<img src="<%= @representative.photo %>" width="300" height="400">
<p><strong>Name:</strong> <%= @representative.name %></p>
<p><strong>OCID:</strong> <%= @representative.ocdid %></p>
<p><strong>Title:</strong> <%= @representative.title %></p>
<p><strong>Street:</strong> <%= @representative.street %></p>
<p><strong>City:</strong> <%= @representative.city %></p>
<p><strong>State:</strong> <%= @representative.state %></p>
<p><strong>Zip:</strong> <%= @representative.zip %></p>
<p><strong>Party:</strong> <%= @representative.party %></p>